@page
@model NIRS.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <label>ФИО: <input type="text" asp-for="SearchFullNameString" /></label>
        <label>Email: <input type="text" asp-for="SearchEmailAddressString" /></label>
    </p>
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._User[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._User[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._User[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._User[0].Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._User) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.IsInRole("Cashier"))
                {
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
