@page
@model NIRS.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <tr>
        <label>Клуб: <input type="text" asp-for="SearchClubAddressString" /></label>
    </tr>
    <tr>
        <label>Email клиента: <input type="text" asp-for="SearchClientEmailAdressesString" /></label>
    </tr>
    <tr>
        Тариф
        <select asp-for="RateName" asp-items="Model.RateNames">
            <option value="">All</option>
        </select>
    </tr>
    <div class="form-group">
        Дата создания
        <input type="date"
               asp-for="CreationDate"
               class="form-control"
               value="@Model.CreationDate?.ToString("yyyy-MM-dd")" />
    </div>
    <tr>
        <input type="submit" value="Filter" />
    </tr>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Minutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.IsInRole("Cashier"))
                {
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
